#map {
    width: 100%;
    height: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-header{
    padding: 60px;
    text-align: center;
    background-color: rgb(51, 119, 245);
    margin: 0%;
}

.titulo{
    font-size: xx-large;
}

.opacidad{
    opacity: 100%;
    color: black;
}

ion-tittle{
    color: rgb(235, 231, 34);
}

ion-item{
    padding-top: 10px;
}
.separacion{
    padding: 15px;
    padding-top: 10%;
}

.contenido{
    background-color: rgb(235, 235, 235);
    height: 120%;
}

.centrado{
    text-align: center;
}

.boton{
    padding-top: 10%;
}

.olvido{
    padding-top: 10px;
}

h2{
    color: black;
    margin: 0%;
    padding-top: 10px;
    text-align: center;
}